In [1]:
import numpy as np
import pandas as pd
import warnings

In [2]:
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv("54339_104884_bundle_archive/HAM10000_metadata.csv")

In [4]:
from sklearn import preprocessing

In [5]:
label_encoder = preprocessing.LabelEncoder()

In [6]:
df['sex']= label_encoder.fit_transform(df['sex'])

In [7]:
df['dx_type']= label_encoder.fit_transform(df['dx_type'])

In [8]:
df['localization']= label_encoder.fit_transform(df['localization'])

In [9]:
df

         lesion_id      image_id     dx  dx_type   age  sex  localization
0      HAM_0000118  ISIC_0027419    bkl        3  80.0    1            11
1      HAM_0000118  ISIC_0025030    bkl        3  80.0    1            11
2      HAM_0002730  ISIC_0026769    bkl        3  80.0    1            11
3      HAM_0002730  ISIC_0025661    bkl        3  80.0    1            11
4      HAM_0001466  ISIC_0031633    bkl        3  75.0    1             4
...            ...           ...    ...      ...   ...  ...           ...
10010  HAM_0002867  ISIC_0033084  akiec        3  40.0    1             0
10011  HAM_0002867  ISIC_0033550  akiec        3  40.0    1             0
10012  HAM_0002867  ISIC_0033536  akiec        3  40.0    1             0
10013  HAM_0000239  ISIC_0032854  akiec        3  80.0    1             5
10014  HAM_0003521  ISIC_0032258    mel        3  70.0    0             2

[10015 rows x 7 columns]

In [10]:
df.dx = [1 if each == 'bkl' or each == 'nv' or each == 'df' else 0 for each in df.dx]

In [11]:
df

         lesion_id      image_id  dx  dx_type   age  sex  localization
0      HAM_0000118  ISIC_0027419   1        3  80.0    1            11
1      HAM_0000118  ISIC_0025030   1        3  80.0    1            11
2      HAM_0002730  ISIC_0026769   1        3  80.0    1            11
3      HAM_0002730  ISIC_0025661   1        3  80.0    1            11
4      HAM_0001466  ISIC_0031633   1        3  75.0    1             4
...            ...           ...  ..      ...   ...  ...           ...
10010  HAM_0002867  ISIC_0033084   0        3  40.0    1             0
10011  HAM_0002867  ISIC_0033550   0        3  40.0    1             0
10012  HAM_0002867  ISIC_0033536   0        3  40.0    1             0
10013  HAM_0000239  ISIC_0032854   0        3  80.0    1             5
10014  HAM_0003521  ISIC_0032258   0        3  70.0    0             2

[10015 rows x 7 columns]

In [12]:
df = df.dropna()

In [13]:
df = df.drop(['lesion_id','image_id'],axis=1)

In [14]:
df

       dx  dx_type   age  sex  localization
0       1        3  80.0    1            11
1       1        3  80.0    1            11
2       1        3  80.0    1            11
3       1        3  80.0    1            11
4       1        3  75.0    1             4
...    ..      ...   ...  ...           ...
10010   0        3  40.0    1             0
10011   0        3  40.0    1             0
10012   0        3  40.0    1             0
10013   0        3  80.0    1             5
10014   0        3  70.0    0             2

[9958 rows x 5 columns]

In [15]:
x = df.drop('dx',axis=1)
y = df['dx']

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

In [18]:
from sklearn.preprocessing import StandardScaler

In [19]:
sc = StandardScaler()  
x_train = sc.fit_transform(x_train)  
x_test = sc.transform(x_test)

In [20]:
from sklearn import linear_model

In [23]:
mreg = linear_model.LinearRegression()
mreg.fit(x_train, y_train)

LinearRegression()

In [24]:
y_pred = mreg.predict(x_test)

In [29]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred, squared=False)

0.3662366826674436

In [30]:
newdf=df

In [31]:
newdf

       dx  dx_type   age  sex  localization
0       1        3  80.0    1            11
1       1        3  80.0    1            11
2       1        3  80.0    1            11
3       1        3  80.0    1            11
4       1        3  75.0    1             4
...    ..      ...   ...  ...           ...
10010   0        3  40.0    1             0
10011   0        3  40.0    1             0
10012   0        3  40.0    1             0
10013   0        3  80.0    1             5
10014   0        3  70.0    0             2

[9958 rows x 5 columns]

In [32]:
x = newdf.drop(['dx','dx_type'],axis=1)
y = df['dx']

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

In [35]:
from sklearn.preprocessing import StandardScaler

In [36]:
sc = StandardScaler()  
x_train = sc.fit_transform(x_train)  
x_test = sc.transform(x_test)

In [37]:
from sklearn import linear_model

In [38]:
mreg = linear_model.LinearRegression()
mreg.fit(x_train, y_train)

LinearRegression()

In [39]:
y_pred = mreg.predict(x_test)

In [64]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred, squared=False)

0.3662624122673517

In [65]:
newdf2=df

In [42]:
newdf2

       dx  dx_type   age  sex  localization
0       1        3  80.0    1            11
1       1        3  80.0    1            11
2       1        3  80.0    1            11
3       1        3  80.0    1            11
4       1        3  75.0    1             4
...    ..      ...   ...  ...           ...
10010   0        3  40.0    1             0
10011   0        3  40.0    1             0
10012   0        3  40.0    1             0
10013   0        3  80.0    1             5
10014   0        3  70.0    0             2

[9958 rows x 5 columns]

In [43]:
x = newdf.drop(['dx','sex'],axis=1)
y = df['dx']

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

In [46]:
from sklearn.preprocessing import StandardScaler

In [47]:
sc = StandardScaler()  
x_train = sc.fit_transform(x_train)  
x_test = sc.transform(x_test)

In [48]:
from sklearn import linear_model

In [49]:
mreg = linear_model.LinearRegression()
mreg.fit(x_train, y_train)

LinearRegression()

In [50]:
y_pred = mreg.predict(x_test)

In [62]:
from sklearn.metrics import mean_squared_error
rmse=mean_squared_error(y_test, y_pred, squared=False)
print(rmse)

0.3662624122673517

In [63]:
Accuracy = 1.96*rmse
print(Accuracy)

0.7178743280440093